@media(max-width:600px) {

    nav {
        overflow: hidden;
    }

    nav ul {
        display: none;
    }


    nav .toggler i {
        display: block;
        position: absolute;
        left: 91%;
        padding: 15px 15px 0px 0px;
    }

    .home {
        background-size: 100% 100%;
    }

    .home .start h1 {
        font-size: 45px;
    }

    .secondpart {
        margin-bottom: 80px;
    }

    .secondpart .features .responsive h1 {
        font-size: 16px;
    }

    .thirdpart {
        height: 700px;
        flex-wrap: wrap;
    }

    .thirdpart .design {
        width: 100%;
    }

    .thirdpart .design p {
        width: 100%;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    .thirdpart .photo img {
        top: 390px;
        right: 15%;
        width: 400px;
        height: 300px;
    }

    .forthpart {
        height: 900px;
        margin-bottom: 1400px;
    }

    .forthpart .characters {
        /* height: 540px; */
        flex-wrap: wrap;
        position: relative;
    }

    .forthpart .characters .first {
        width: 85%;
        margin-bottom: 30px;
    }

    .forthpart .characters .second {
        width: 85%;
        margin-bottom: 30px;
    }

    .forthpart .characters .third {
        width: 85%;
        margin-bottom: 30px;
    }

    .forthpart .characters .forth {
        width: 85%;
        margin-bottom: 30px;
    }

    .fifthpart {
        width: 100%;
    }

    .fifthpart p {
        font-size: 12px;
    }

    .fifthpart .partners {
        width: 21%;
    }
    
    .fifthpart .projects{
        width: 21%;
    }

    .fifthpart .clients{
        width: 21%;
    }

    .fifthpart .meetings{
        width: 21%;
    }
    
        


    .sixthpart {
        height: 800px;
        margin-bottom: 1600px;
    }

    .sixthpart .container .photo {
        width: 100%;
    }
}